body {
    font: 14pt Arial;
    background-color: #fff275;
}

button {
    font-size: 16pt;
    background-color: #f49d37;
    padding: 20px;
}

#msg_desconto,
#msg_valor_descontado,
#original {
    font-size: 16pt;
    line-height: 1.6;
}