body {
    font: 14pt Arial;
    background-color: #fff275;
}

button {
    font-size: 16pt;
    background-color: #f49d37;
    padding: 20px;
}

#msg_salario,
#msg_porc,
#msg_reaj {
    font-size: 18pt;
    line-height: 1.6;
}